In [4]:
# Initialize Otter
import otter
grader = otter.Notebook("hwk3-task1-spills.ipynb")

# Task 1: Visualizing oil spills in NY State

## Instructions

- First, update the following cell to have a link to *your* Homework 2 GitHub repository:

**UPDATE THIS LINK**
https://github.com/sofiiir/eds220-hwk3.git


- Review the [complete rubric for this task](https://docs.google.com/document/d/1x0BoU6IH4cnOR1-n7i9CYQ9wUC37yDpYlQ4j6rCfcsU/edit?tab=t.0) before starting.

- **Meaningful commits should be made every time you finish a major step.** We'll check your repository and view the commit history.

- Comment mindfully in a way that enriches your code. Comments should follow best practices.

- **Do not update the top cell with the `otter` import**, this is used internally for grading.


## About the data
In this task you will use two datsets:

### First dataset: oil spills data

The first dataset contains information about [spilling incidents in the state of New York](https://data.ny.gov/Energy-Environment/Spill-Incidents/u44d-k5fk). 
The data portal has plenty of information. 
You will find extra information and metadata for this datset in the `NYSDEC_SpillIncidents_Overview.pdf` and `NYSDEC_SpillIncidents_DataDictionary.pdf` documents available at the portal.

### Second dataset: TIGER shapefile

The second dataset is the [the 2023 Counties (and equivalent) TIGER shapefile](https://www.census.gov/geographies/mapping-files/time-series/geo/tiger-line-file.2022.html#list-tab-790442341) from the Census Bureau. You can check the [metadata for all the TIGER shapefiles here](https://www.census.gov/programs-surveys/geography/technical-documentation/complete-technical-documentation/tiger-geo-line.html).

## 1. File management
a. Create a `data/` directory inside your `eds220-hwk3` directory. If you download any data, it should be transferred into this folder. 

b. Add the `data/` directory to your `.gitignore` file and push your changes. This is IMPORTANT: the datasets we'll be working with are large and they will most likely jam your commit history if you try to push them.

## 2. Datasets description
- Read the metadata for both datsets and write a brief description about each one. Indicate the date sources and date of access.

The New York State Department of Environmental Conservation maintains data from spills across the state. Ninety percent of the spills are petroleum based. Spill reporting is essential to the safety of communities and the environment. This dataset lists the type of spill material, the location of the spill, and the quantity of the spill. One potential limitation of the data is that it is self reported leaving room for misrepresentation of real world events. Additionally, of note, amount spilled may be less than amount of contaminants removed as these final quantities may include contaminated soil.
Accessed October 31, 2025. Source: [data.ny.gov](https://data.ny.gov/Energy-Environment/Spill-Incidents/u44d-k5fk/about_data)

TIGER data comes from the Census Bureau and includes shape files with the geometries in this case of counties.
Accessed October 31, 2025. Source: [https://www.census.gov/geographies/mapping-files/time-series/geo/tiger-line-file.2023.html#list-tab-790442341](https://www.census.gov/geographies/mapping-files/time-series/geo/tiger-line-file.2023.html#list-tab-790442341)

## 3. Import libraries

In [5]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

## 4. Import data 
In the next cell:

- Import the NY spills data as a variable named `spills`. 
- Import the US counties data as a variable named `counties`.

If you are using file paths to access the data, these should be constructed using the `os` package.

In [6]:
fp = os.path.join('data', 'Spill_Incidents_20251031.csv')
spills = gpd.read_file(fp)


fp = os.path.join('data', 'census_data_2023', 'tl_2023_us_county.shp')
counties = gpd.read_file(fp)

<!-- BEGIN QUESTION -->

## 5. Prepare spills data

This section refers to the `spills` dataframe. 
Check the outputs carefully, they will give you information you will need to use in the next exercises.

### 5.A. Exploration

In the next cells:

a. Check the dataframe's head

b. Check the data types of the columns

c. Check the unique values in the `material_family` column

d. Check the unique values in the `county` column

e. Insert a markdown cell to explain what information you obtained from the preliminary exploration. Use complete sentences.

You can add any other cells for preliminary data exploration.

In [7]:
#a. Check the dataframe's head
spills.head()

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Spill Date,...,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered,geometry
0,0107132,MH 864,RT 119/MILLWOOD RD,,ELMSFORD,Westchester,,6000,3,10/10/2001,...,Unknown,,Unknown,10/15/2001,unknown material,Other,10,Gallons,0,None
1,0405586,BOWRY BAY,WATER POLL CONTROL,,QUEENS,Queens,,4101,2,08/21/2004,...,Other,EAST RIVER,Unknown,09/17/2004,raw sewage,Other,0,,0,None
2,0405586,BOWRY BAY,WATER POLL CONTROL,,QUEENS,Queens,,4101,2,08/21/2004,...,Other,EAST RIVER,Unknown,09/17/2004,raw sewage,Other,0,Pounds,0,None
3,0204667,POLE 16091,GRACE AVE/BURKE AVE,,BRONX,Bronx,,0301,2,08/02/2002,...,Equipment Failure,,Commercial/Industrial,10/28/2002,transformer oil,Petroleum,1,Gallons,0,None
4,0210559,POLE ON,FERDALE LOMIS RD / RT 52,,LIBERTY,Sullivan,,5336,3,01/20/2003,...,Traffic Accident,,Commercial/Industrial,01/22/2003,transformer oil,Petroleum,6,Gallons,6,None

In [8]:
#b. Check the data types of the columns
spills.dtypes

Spill Number               object
Program Facility Name      object
Street 1                   object
Street 2                   object
Locality                   object
County                     object
ZIP Code                   object
SWIS Code                  object
DEC Region                 object
Spill Date                 object
Received Date              object
Contributing Factor        object
Waterbody                  object
Source                     object
Close Date                 object
Material Name              object
Material Family            object
Quantity                   object
Units                      object
Recovered                  object
geometry                 geometry
dtype: object

In [9]:
#c. Check the unique values in the `material_family` column
spills['Material Family'].unique()

array(['Other', 'Petroleum', 'Hazardous Material', 'Oxygenates'],
      dtype=object)

In [10]:
#d. Check the unique values in the `county` column
spills['County'].unique()

array(['Westchester', 'Queens', 'Bronx', 'Sullivan', 'Cortland',
       'New York', 'Ulster', 'Kings', 'Orange', 'Dutchess', 'Onondaga',
       'Saratoga', 'Cayuga', 'Oswego', 'Warren', 'Niagara', 'Rockland',
       'Nassau', 'Jefferson', 'Schenectady', 'Albany', 'Monroe',
       'Schuyler', 'St Lawrence', 'Richmond', 'Clinton', 'Lewis', 'Essex',
       'Chenango', 'Erie', 'Livingston', 'Oneida', 'Wayne', 'Suffolk',
       'Orleans', 'Ontario', 'Genesee', 'Otsego', 'Tompkins', 'Madison',
       'Chemung', 'Seneca', 'Broome', 'Hamilton', 'Washington', 'Steuben',
       'Rensselaer', 'Franklin', 'Columbia', 'Fulton', 'Herkimer',
       'Schoharie', 'Montgomery', 'Putnam', 'Delaware',
       'New Jersey - Region 2', 'Tioga', 'Chautauqua', 'Cattaraugus',
       'Wyoming', 'Yates', 'Greene', 'Pennsylvania - Region 9',
       'Allegany', 'New Jersey - Region 3 (N)',
       'Cattaraugus Indian Reservation', 'New Jersey - Region 3 (T)',
       'Canada - Region 6', 'Canada - Region 9',
       'Pennsylvania - Region 8', 'Vermont - Region 5 (R)',
       'Vermont - Region 4', 'Connecticut - Region 3 (N)',
       'Pennsylvania - Region 3', 'Tuscarora Indian Reservation',
       'Connecticut - Region 4', 'Connecticut - Region 3 (T)',
       'Massachusetts - Region 4', 'Connecticut - Region 1',
       'Canada - Region 8', 'Oil Springs Indian Reservation',
       'Canada - Region 5', 'Poospatuck Indian Reservation',
       'Onondaga Indian Reservation', 'Shinnecock Indian Reservation',
       'St. Regis Indian Reservation - Region 5',
       'Pennsylvania - Region 7'], dtype=object)

In [11]:
# View column names, data counts per column, and data types
spills.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 563476 entries, 0 to 563475
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Spill Number           563476 non-null  object
 1   Program Facility Name  563476 non-null  object
 2   Street 1               563476 non-null  object
 3   Street 2               563476 non-null  object
 4   Locality               563476 non-null  object
 5   County                 563476 non-null  object
 6   ZIP Code               563476 non-null  object
 7   SWIS Code              563476 non-null  object
 8   DEC Region             563476 non-null  object
 9   Spill Date             563476 non-null  object
 10  Received Date          563476 non-null  object
 11  Contributing Factor    563476 non-null  object
 12  Waterbody              563476 non-null  object
 13  Source                 563476 non-null  object
 14  Close Date             563476 non-null  object
 15  Material Name          563476 non-null  object
 16  Material Family        563476 non-null  object
 17  Quantity               563476 non-null  object
 18  Units                  563476 non-null  object
 19  Recovered              563476 non-null  object
 20  geometry               0 non-null       geometry
dtypes: geometry(1), object(20)
memory usage: 90.3+ MB

All of the data in the spills data frame are objects except for the geometry column. Alterations to the data types will necessary to analyze any values that are expected to be numeric. Another notable issue with the data frame is that some conties outside of New York are included. There are counties in Pennsylvania, Massachsetts, Conneticut, Vermont, New Jersey, and Canada included. To analyze only New York locations outside of the state will need to be filtered out. All of the geometries are missing. Street addresses are included. These will need to be used to convert some data into spatial data.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### 5.B. Cleaning
a. Simplify column names as needed.

In [12]:
# Change column names to lower snake
spills.columns = (spills.columns
                  .str.lower()
                  .str.replace(' ', '_'))

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

b. Update column data types as needed *for this analysis*.

In [14]:
# Change data type of dates to datetime
spills.spill_date = pd.to_datetime(spills['spill_date'])
spills.receieved_date = pd.to_datetime(spills['received_date'])
spills.close_date = pd.to_datetime(spills['close_date'])

# Change data type to numeric for numbered columns
spills.spill_number = pd.to_numeric(spills['spill_number'])
# spills.quantity = spills['quantity'].str.replace(',', '')
# spills.quantity = pd.to_numeric(spills['quantity'])

In [15]:
spills.head()

,spill_number,program_facility_name,street_1,street_2,locality,county,zip_code,swis_code,dec_region,spill_date,...,contributing_factor,waterbody,source,close_date,material_name,material_family,quantity,units,recovered,geometry
0,107132,MH 864,RT 119/MILLWOOD RD,,ELMSFORD,Westchester,,6000,3,2001-10-10,...,Unknown,,Unknown,2001-10-15,unknown material,Other,10.0,Gallons,0,None
1,405586,BOWRY BAY,WATER POLL CONTROL,,QUEENS,Queens,,4101,2,2004-08-21,...,Other,EAST RIVER,Unknown,2004-09-17,raw sewage,Other,0.0,,0,None
2,405586,BOWRY BAY,WATER POLL CONTROL,,QUEENS,Queens,,4101,2,2004-08-21,...,Other,EAST RIVER,Unknown,2004-09-17,raw sewage,Other,0.0,Pounds,0,None
3,204667,POLE 16091,GRACE AVE/BURKE AVE,,BRONX,Bronx,,0301,2,2002-08-02,...,Equipment Failure,,Commercial/Industrial,2002-10-28,transformer oil,Petroleum,1.0,Gallons,0,None
4,210559,POLE ON,FERDALE LOMIS RD / RT 52,,LIBERTY,Sullivan,,5336,3,2003-01-20,...,Traffic Accident,,Commercial/Industrial,2003-01-22,transformer oil,Petroleum,6.0,Gallons,6,None

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### 5.C. Data selection

a. Select data about petroleum spills that took place between January 1st 2023, and October 31st (including both dates), 2023. Store it in a variable named `petr_23`. The data selection should occur in a single line. You may add cells as needed.

In [21]:
# Select observations between January 1, 2023 and Octover 31, 2023
petr_23 =  spills[(spills['spill_date'] >= '2023-01-01') & (spills['spill_date']<= '2023-10-31') & (spills['material_family'] == 'Petroleum')] 

# View the new data frame
petr_23

,spill_number,program_facility_name,street_1,street_2,locality,county,zip_code,swis_code,dec_region,spill_date,...,contributing_factor,waterbody,source,close_date,material_name,material_family,quantity,units,recovered,geometry
221,2301892,*** TEST SPILL ***,*** TEST SPILL ***,,*** TEST SPILL ***,Onondaga,00000,3415,7,2023-06-06,...,Tank Test Failure,,Unknown,2023-07-12,diesel,Petroleum,0.0,,0,None
222,2301892,*** TEST SPILL ***,*** TEST SPILL ***,,*** TEST SPILL ***,Onondaga,00000,3415,7,2023-06-06,...,Tank Test Failure,,Unknown,2023-07-12,#2 fuel oil,Petroleum,0.0,Gallons,0,None
223,2301892,*** TEST SPILL ***,*** TEST SPILL ***,,*** TEST SPILL ***,Onondaga,00000,3415,7,2023-06-06,...,Tank Test Failure,,Unknown,2023-07-12,gasoline,Petroleum,0.0,,0,None
224,2301892,*** TEST SPILL ***,*** TEST SPILL ***,,*** TEST SPILL ***,Onondaga,00000,3415,7,2023-06-06,...,Tank Test Failure,,Unknown,2023-07-12,kerosene [#1 fuel oil] (on-site consumption),Petroleum,0.0,,0,None
225,2301892,*** TEST SPILL ***,*** TEST SPILL ***,,*** TEST SPILL ***,Onondaga,00000,3415,7,2023-06-06,...,Tank Test Failure,,Unknown,2023-07-12,"used oil (heating, on-site consumption)",Petroleum,0.0,,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562962,2306261,ZHANG RESIDENCE,10 LINCOLN AVE,,ROSLYN,Nassau,,3022,1,2023-10-23,...,Equipment Failure,,Private Dwelling,2023-12-01,#2 fuel oil,Petroleum,0.0,,0,None
562967,2303072,ZHANG RESIDENCE,93 CHERRY LANE,,HICKSVILLE,Nassau,,3024,1,2023-07-14,...,Equipment Failure,,Private Dwelling,2023-09-18,#2 fuel oil,Petroleum,0.0,,0,None
563076,2208304,ZIMMERMAN - UST,19 MOUNTAIN AVENUE,,LARCHMONT,Westchester,,6032,3,2023-01-10,...,Equipment Failure,,Private Dwelling,NaT,#2 fuel oil,Petroleum,0.0,,0,None
563368,2301301,ZULTOWSKY - UST,514 PELHAM MANOR RD,,PELHAM,Westchester,,6044,3,2023-05-16,...,Equipment Failure,,Private Dwelling,2023-07-11,#2 fuel oil,Petroleum,0.0,,0,None
563452,2304668,ZZ PETROLEUM,2429 RT9,,MALTA,Saratoga,,4640,5,2023-08-30,...,Equipment Failure,,Gasoline Station or other PBS Facility,2023-12-21,gasoline,Petroleum,0.0,,0,None

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

b. Use `print()` and f-strings to print a message verifying that `petr_23` only has data for 2023 and from January through October.
HINT: if you converted the `spill_date` column to datetime, you can use `petr_23.spill_date.dt.year.unique()`.

In [22]:
# Check that the unique value for years is 2023
print(f"All of the data in our data frame is from {petr_23.spill_date.dt.year.unique()}")

All of the data in our data frame is from [2023]

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

c. Write tests using `assert` to verify that `petr_23` only has data for petroleum spills.

In [28]:
# Check that only petroleum spills are in the new data frame
assert petr_23['material_family'].unique() == 'Petroleum'

<!-- END QUESTION -->

### 5.D. Data aggregation

Create new dataframe named `spills_per_county` with the number of petroleum spills per county from January to October 2023 (i.e. use the `petr_23` dataframe).

The resulting `spills_per_county` dataframe must be as follows:

- Index: integer numbers starting from 0
- Two columns only.
- Column one: county names, column name = `county`
- Column two: number of petroleum spills per county in 2023, column name = `n_spills`

You may add cells if needed.

In [ ]:
spills_per_county = 
spills_per_county = ...

In [ ]:
grader.check("q5d")

<!-- BEGIN QUESTION -->

## 6. Prepare counties data

This section refers to the `counties` geo-dataframe. 
Check the outputs carefully, they will give you context about the next exercises.

### 6.A. Exploration

In the next cells:

a. Check the geo-dataframe's head

b. Check the data types of the columns

c. Check the geo-dataframe's CRS

d. Plot the geo-dataframe

e. Use the next markdown cell to explain what information you obtained from the preliminary exploration. Use complete sentences.

You can add any other cells of preliminary data exploration.

_Type your answer here, replacing this text._

In [ ]:
# a

In [ ]:
# b

In [ ]:
# c

In [ ]:
# d

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### 6.B. Cleaning

Simplify column names as needed.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### 6.C. Data selection

Select all the counties for the state of New York in a new variable `ny_counties` and plot them (you may need to look at the metadata).

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 7 Merging

The goal of this section is to create a single dataframe with the number of spills per county and the corresponding geometries for each county.

### 7.A. Explore data

In the next cells:

a. Print the names of counties in `ny_counties`, without repetition.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

b. Print the names of counties in `spills_per_county`, without repetition. Examine the differences in the outputs.

<!-- END QUESTION -->



c. Which are the county names that are in `spills_per_county`, but not in `ny_counties`? Your answer should be a list of strings
HINT: You can use the `numpy` function [`setdiff1d()`](https://numpy.org/doc/stable/reference/generated/numpy.setdiff1d.html), pay attention to the example in the documentation. Store your answer in the `diff_names` variable.

In [ ]:
diff_names_spills = ...
diff_names_spills

In [ ]:
grader.check("7Ac")

d. Which are the county names that are in `ny_counties`, but not in `spills_per_county`? Your answer should be a list of strings.

In [ ]:
diff_names_ny = ...
diff_names_ny

In [ ]:
grader.check("7Ad")

e. What is the number of spills in 'Tuscarora Indian Reservation'?

In [ ]:
# e.

### 7.B. Data updates

In the next cell, update 'St Lawrence' to 'St. Lawrence' in `spills_per_county` data frame and Verify the update was successful.

### 7.C. Merge

In the following cells:

a. Use this cell to make any other updates needed for making an inner join of the `spills_per_county` and `ny_counties`.

b. Over-write `ny_counties` as the  inner join of the `spills_per_county` and `ny_counties` dataframes.


From our previous exploration we know that Tuscarora Indian Reservation will not be in the join. Tuscarora Indian Reservation is located within Niagara county. 

c. Since the Tuscarora Indian Reservation does not appear in the `ny_counties` dataframe, add one spill to Niagara county. We will add a note about this in our final map. Add the cells you need to make this update **and** verify that the dataframe was updated.

## 8. Map
a. Create a choropleth map of the number of petroleum spills per county in the state of New York in 2023. 
Your map should be polished and have (at least) the following updates:
- a legend indicating the number of spills
- an updated color map
- a title 
- no axis
- an annotation with the data source (New York State Department of Environmental Conservation) and date of access

b. Write a description of how the map was created, including key takeaways. If you need to do additional data analysis to include relevant information from the data, you may include additional cells here.

*Your answer here.*

## Complete workflow

**STILL WORKING ON THIS**

Collect all the relevant code into a **new notebook** titled `hwk3-task1-spills-COMPLETE-YOURLASTNAME.ipynb`. This notebook should have two sections:the a single cell will have the end-to-end workflow: from importing libraries and loading the data, to producing the graph. The *only* ouput of this cell should be the graph you produced in the previous exercise. Further guidance on what to include in this final workflow is in the assignment rubric.



**From last HW:**

Collect all the relevant code into the first blank cell of the notebook titled "COMPLETE WORKFLOW". This single cell will have the end-to-end workflow: from importing libraries and loading the data, to producing the graph. The only ouput of this cell should be the graph you produced in the previous exercise. Further guidance on what to include in this final workflow is in the assignment rubric.

##### Run the cell below to run all autograder tests.

In [ ]:
grader.check_all()